<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coohomeless">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <permission
        android:name="com.coohomeless.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@drawable/icon_v1_canto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_coohomeless"
        android:supportsRtl="true"
        android:theme="@style/CooHomelessTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".ui.SplashScreenActivity"
            android:label="Coo Homeless">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:label="Sign up" />
        <activity
            android:name=".ui.MenuActivity"
            android:label="Menu" />
        <activity android:name=".ui.auth.BaseAuthActivity" />
    </application>

</manifest>